.app-footer {
    background-color: #174372;
    color: #f1f5f9;
    padding: 16px 30px;
    text-align: center;
    font-size: 14px;

    position: sticky;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;

    border-top: 4px solid #334155;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
}

.app-footer p {
    margin: 0;
}

@media (max-width: 480px) {
    .app-footer {
        padding: 12px 15px;
        font-size: 13px;
    }
}